body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
input[type=password], input[type=date], input[type=email], input[type=search], input[type=number], input[type=url], input[type=tel], input[type=text], select, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type=text], input[type=email], input[type=url], input[type=password], input[type=number], input[type=date], input[type=tel], select {
    height: 40px;
}
input[type=text], input[type=email], input[type=url], input[type=password], input[type=number], input[type=date], input[type=tel], select, textarea {
    width: 100%;
    border: 1px solid rgba(129,129,129,.25);
    font-size: 14px;
    line-height: 18px;
    padding: 0 10px;
    transition: border-color .5s;
    box-shadow: none;
    border-radius: 0;
}
label {
    display: block;
    font-size: 14px;
    color: #1B1919;
    font-weight: 400;
    margin-bottom: 5px;
    vertical-align: middle;
}
fieldset {
    border: 2px solid #E6E6E6;
    padding: 20px 40px;
    margin-bottom: 20px;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
.title, h1, h2, h3, h4, h5, h6 {
    // font-family: Karla,Arial,Helvetica,sans-serif;
    margin-bottom: 20px;
    line-height: 1.4;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.4em;
}
h3 {
    font-size: 1.3em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1.1em;
}
h6 {
    font-size: 1em;
}
.form-control {
    padding: 6px 0;
}
.wp-block-column:not(:first-child) {
    @media (min-width:782px) {
        margin-left:0;
    }
}

@import 'includes/includes';